<h1>Edit Comment</h1>
<%= link_to 'Go back to list', articles_path %>
<hr>
<%= form_with model: [@article, @comment], local: true do |f| %>
    
    <p>
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>